
.modal-header {
    font-size: 22pt;
    line-height: 30pt;
	font-weight: bold;
	margin-bottom: 15px;
}

.modal-info{
	margin-top: 0;
	margin-bottom: 35px;
	font-size: 15px;
}

.modal {
	display: none;
	position: fixed;
	z-index: 100;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	overflow: auto;
	background-color: rgba(0,0,0, 0.4);
	animation-name:modalopen;
	animation-duration: 0.7s;
	resize: both;
}

.modal-content {
	background-color: #212121;
	color: #f2f2f2;
	margin: 0 auto;
	width: 100vw;
	max-width: 650px;
	height: fit-content;
	box-shadow: 0 5px 8px 0 rgba(0, 0 ,0, 0.2),
				0 7px 20px 0 rgba(0, 0 ,0, 0.17);
	animation-name:modalopen;
	animation-duration: 0.5s;
	position:relative;

	}

.closeBtn {
	opacity: 0.6;
	color: #ccc;
	font-size: 25px;
	position: absolute;
	right: 25%;
	top: -15px;
	z-index: 1001;
	margin:2px;
}

.closeBtn:hover, .closeBtn:focus {
	opacity: 1;
	text-decoration: none;
	cursor: pointer;
}

@keyframes modalopen {
	from{opacity: 0}
	to {opacity: 1}
}

.view-site {
	display: block;
    color: black;
    background-color:white;
	font-size: 0.85rem;
	font-weight: bold;
	padding: 6px 0 7px 0;
    width: 140px;
    cursor: pointer;
	text-align: center;
	text-decoration: none;
}

.modal-container {
    padding: 0 50px 25px 50px;
    box-sizing: border-box;
}