<!DOCTYPE html>
<html>
    <head>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
		<link rel="stylesheet" href="stylesheets/main.css">
		<link rel="stylesheet" href="stylesheets/modal.css">
		<link rel="stylesheet" href="stylesheets/owl.carousel.min.css">
		<link rel="stylesheet" href="stylesheets/owl.theme.default.min.css">
		<link rel="apple-touch-icon" sizes="180x180" href="/favicon/apple-touch-icon.png">
		<link rel="icon" type="image/png" sizes="32x32" href="/favicon/favicon-32x32.png">
		<link rel="icon" type="image/png" sizes="16x16" href="/favicon/favicon-16x16.png">
		<link rel="manifest" href="/favicon/site.webmanifest">
		<link rel="mask-icon" href="/favicon/safari-pinned-tab.svg" color="#5bbad5">
		<meta name="msapplication-TileColor" content="#2b5797">
		<meta name="theme-color" content="#ffffff">
        <title>Garet Lam | Portfolio</title>
    </head>
<body>

<div class="entry"></div>
<div class="fixed-bg"></div>
<div id="particles-js"></div>
	
<!-- NAV BAR -->

<div class="nav-container">
		<nav class="nav-menu">
		<ul>
			<li><a onclick="scrollHome()"><span>Home</span></a></li>
			<li><a onclick="scrollAbout()"><span>About</span></a></li>
			<li><a onclick="scrollProject()"><span>Recent Works</span></a></li>
			<li><a onclick="scrollContact()"><span>Contact</span></a></li>
		</ul>
		</nav>
</div>
	
<div class="arrow">
	<span></span>
	<span></span>
	<span></span> 
</div>
	
 <!-- HOME PAGE -->
<div class="top-page" id="homepage">
	<div class="top-container">
		<img src="stylesheets/img/logo.png">
		<h1>Garet Lam</h1>	
		<h2>Design. Code. Develop.</h2>
	</div>
</div>
	
<!-- ABOUT SECTION -->
			
<div class="about-section" id="aboutSection">
	<div class="about-image">
		<img src="stylesheets/img/garet.png">
	</div>
	
	<div class="about-text">
		<div class="text-container">
		<h3>About<span></span></h3>
		<p class="about-para">
			Self-taught web developer with a desire to change the norms of what
			a website should be. I develop digital solutions to solve real world problems and further
			grow businesses. Making web applications become a reality is what drives
			me to develop and further improve my skillset
		</p>
			
	<div id="progress-bar-container">
		<div class="progressBar">
			<p class="bar-header">HTML / CSS3</p>
			<p class="progress-percent">90%</p>
			<div class="overlay-bar"></div>			
			<div class="html-container">
				<div class="html-bar" style="width: 90%">
					<div class="yellow-bar"></div>
				</div> 
			</div>
		</div>
		
		<div class="progressBar">
			<p class="bar-header">Javascript / ES6</p>
			<p class="progress-percent">70%</p>
			<div class="overlay-bar"></div>
			<div class="html-container">
				<div class="html-bar" style="width: 70%">
					<div class="yellow-bar"></div>
				</div> 
			</div>
		</div>
		
		<div class="progressBar">
			<p class="bar-header">Adobe Photoshop</p>
			<p class="progress-percent">80%</p>
			<div class="overlay-bar"></div>
			<div class="html-container">
				<div class="html-bar" style="width: 80%">
					<div class="yellow-bar"></div>
				</div> 
			</div>
		</div>
		
		<div class="progressBar">
			<p class="bar-header">Wordpress</p>
			<p class="progress-percent">65%</p>
			<div class="overlay-bar"></div>
			<div class="html-container">
				<div class="html-bar" style="width: 65%">
						<div class="yellow-bar"></div>
				</div> 
			</div>
		</div>
		
		<div class="progressBar">
			<p class="bar-header">JS Frameworks (React/NextJS)</p>
			<p class="progress-percent">65%</p>
			<div class="overlay-bar"></div>
			<div class="html-container">
				<div class="html-bar" style="width: 65%">
					<div class="yellow-bar"></div>
				</div> 
			</div>
		</div>

		<div class="progressBar">
			<p class="bar-header">MySQL/MongoDB</p>
			<p class="progress-percent">35%</p>
			<div class="overlay-bar"></div>
			<div class="html-container">
				<div class="html-bar" style="width: 35%">
					<div class="yellow-bar"></div>
				</div>
			</div>
		</div>
	</div>
		
		
		</div>
	</div>
</div>
	 
<!-- PROJECT SECTION -->
<div class="project-section" id="projectSection">
	<h3>Recent Works<div></div></h3>
	<div class="container project-container">

			<div class="card"><img src="stylesheets/img/levelupworks-front.jpg" />
				<div class="info">
					<h1>Level Up Works</h1>
					<p>Redesign of the Level Up Works. Uses MERN Stack</p>
					<button id="levelupworks">Learn More</button>
				</div>
			</div>
		
			<div class="card"><img src="stylesheets/img/project2.jpg"/>
				<div class="info">
				  <h1>Persus Vincere</h1>
				  <p>Brochure website for a mockup architect company</p>
				  <button id="persusvincere">Learn More</button>
				</div>
			 </div>
		
			<div class="card"><img src="stylesheets/img/project1.jpg"/>
				<div class="info">
				  <h1>Red Dew</h1>
				  <p>Web development company landing page mockup</p>
				  <button id="reddew">Learn More</button>
				</div>
			  </div>

			<div class="card"><img src="stylesheets/img/project3.jpg"/>
				<div class="info">
				  <h1>Annex</h1>
				  <p>Features user authentication. Create, delete, and update posts</p>
				  <button id="annex">Learn More</button>
				</div>
			 </div>
	
			<div class="card"><img src="stylesheets/img/project4.jpg"/>
				<div class="info">
				  <h1>Ruminate</h1>
				  <p>Mobile App Concept - Wine App - View ratings and info</p>
				  <button id="ruminate">Learn More</button>
				</div>
			</div>

			<div class="card"><img src="stylesheets/img/project6.jpg"/>
				<div class="info">
					<h1>Graphic Design</h1>
					<p>General Graphic Designs</p>
					<button id="fgc">Learn More</button>
				</div>
			</div>		
	</div>
</div>
	
<!-- CONTACT SECTION -->
<div class="contact-section" id="contactSection">
	<h3>Contact<div></div></h3>
	<p>Have a question or want to work together?</p>
	<div style="color: white; margin-bottom: 50px; line-height: 35px">
		<p style="color: white; font-weight: bold"><img style="margin-right: 10px; height: 20px;" src="stylesheets/img/fav3.png">+64220473697</p>
		<p style="color: white;">OR</p>
		<p style="color: white; font-weight: bold"><img style="margin-right: 10px; height: 15px;" src="stylesheets/img/fav5.png">garet.lam@gmail.com</p>
	</div>
	<!-- <p class="sent">Message Sent!</p>
	<form id="contactForm" method="POST" onsubmit="show()" action="send">
		<div><input class="" type="text" name="name" placeholder="Name" required></div>
		<div><input class="" type="email" name="email" placeholder="Email" required></div>
		<div><textarea type="text" name="message" placeholder="Your message..." required></textarea></div>
		<input class="submit-button" type="submit" value="Submit">
	</form> -->
	
<footer>
		<p id="footer-p">
			 GARET LAM &copy;2020
		</p>
</footer>
</div>
	

<!-- MODAL -->
<div id="simpleModal" class="modal">
	<div class="modal-content">
		<span class="closeBtn"></span>
			<div class="owl-carousel owl-theme">
				
			</div>
		<div class="modal-container">
			<p class="modal-header">Test Title</p>
			<hr>
			<p class="modal-info">Lorem ipsum</p>
			<a class="view-site" href="#" target="_blank">View Site</a>
		</div>			
	</div>
</div>



<script src="https://code.jquery.com/jquery-3.4.1.min.js"
  integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo="
  crossorigin="anonymous"></script>
<script type="text/javascript" src="scripts/particles.js"></script>
<script type="text/javascript" src="scripts/modal.js"></script>
<script type="text/javascript" src="scripts/owl.carousel.min.js"></script>
<script  type="text/javascript" src="scripts/carousel.js"></script>
<script  type="text/javascript" src="scripts/jquery.waypoints.min.js"></script>
<script type="text/javascript" src="scripts/animation.js"></script>
	
<script>
particlesJS.load('particles-js', 'scripts/particles.json', function() {
  console.log('callback - particles.js config loaded');
});
</script>
<script>

</script>
	
</body>
</html>